# Ignore node_modules directory
node_modules/

# Ignore logs
logs/
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db
.vscode

# Ignore IDE-specific files
.vscode/
.idea/
*.iml

# Ignore npm-debug.log
npm-debug.log

# Ignore yarn-debug.log
yarn-debug.log

# Ignore yarn-error.log
yarn-error.log

# Ignore package-lock.json
package-lock.json

# Ignore yarn.lock
yarn.lock

# Ignore environment variables file
.env
.env.local